.elements__remove {
  border: none;
  background: url(../../../images/trash.svg) center no-repeat;
  background-size: contain;
  cursor: pointer;
  width: 18px;
  height: 19px;
  transition: 0.3s;
  position: absolute;
  top: 20px;
  right: 20px;
}

.elements__remove:hover {
  opacity: 0.6;
}
