.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 42px auto 0;
  min-width: 282px;
  column-gap: 26px;
}

@media screen and (max-width: 320px) {
  .profile {
    margin-top: 36px;
  }
}

@media screen and (min-width: 768px) {
  .profile {
    flex-direction: row;
    margin: 40px auto 0;
    max-width: 581px;
    column-gap: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .profile {
    max-width: 880px;
    width: 100%;
  }
}
