.elements__like {
  border: none;
  background: url(../../../images/like-disabled.svg) center no-repeat;
  background-size: contain;
  cursor: pointer;
  width: 22px;
  height: 19px;
  transition: 0.3s;
}

.elements__like:hover {
  opacity: 0.5;
}
